[Unit]
Description=Modbus RTU Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/alcalavan/shared/app/pymodbus-rtu-server.py
WorkingDirectory=/home/alcalavan/shared
Restart=always
User=alcalavan

[Install]
WantedBy=multi-user.target
