[Unit]
Description=Modbus RTU Server
After=network.target

[Service]
ExecStart=/home/pi/shared/dist/pymodbus-rtu-server
WorkingDirectory=/home/pi/shared
Restart=always
User=pi

[Install]
WantedBy=multi-user.target